<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">
        <link rel="icon" th:href="@{/images/title.png}">
        <title>칠 린 | 관리자 - 회원 관리</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/admin/admin_member.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">
        <!-- 각 페이지의 content 작성-->

        <div class="bookmark_wrap">

            <aside>
                <h2>관리자 페이지</h2>
                <ul>
                    <li><a th:href="@{|/admin|}">
                        <img th:src="@{/images/user.png}"/>
                        <span>회원 관리</span>
                    </a></li>
                    <li><a th:href="@{|/admin/complain_manage/board/all|}">
                        <img th:src="@{/images/writing.png}"/>
                        <span id="mypage_select">신고 관리</span>
                    </a></li>
                </ul>
            </aside>

            <div id="user_line"></div>

            <section>
                <h3>회원 관리</h3>
                <table>
                    <thead>
                    <tr th:class="title">
                        <th>회원번호</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>닉네임</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:class="block-list" th:if="!${userList.isEmpty()}">
                        <tr th:each="item:${userList}">
                            <td th:text="${item.userId}"></td>
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.nickName}"></td>
                            <td>
                                <a th:href="@{|/admin/user/${item.userId}|}">
                                    <button th:class="user_board_list">글보기</button>
                                </a>
                            </td>
                            <td>
                                <button th:class="delete_btn">회원 삭제</button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </section>
        </div>

    </div>
</th:block>
</body>
<script>

</script>
</html>