<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">
        <link rel="icon" th:href="@{/images/title.png}">
        <title>칠 린 | 신고 관리</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/admin/admin_member.css}">
        <link rel="stylesheet" th:href="@{/css/admin/complain_manage.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">
        <!-- 각 페이지의 content 작성-->

        <div class="bookmark_wrap">

            <aside>
                <h2>관리자 페이지</h2>
                <ul>
                    <li><a th:href="@{|/admin|}">
                        <img th:src="@{/images/user.png}"/>
                        <span>회원 관리</span>
                    </a></li>
                    <li><a th:href="@{|/admin/complain_manage/board/all|}">
                        <img th:src="@{/images/writing.png}"/>
                        <span id="mypage_select">신고 관리</span>
                    </a></li>
                </ul>
            </aside>

            <div id="user_line"></div>


            <section id="complain_section">
                <h2>댓글 관리</h2>
                <div id="comp_board_rep">
                    <a href="/admin/complain_manage/board/all">글 관리</a>
                    <span>댓글 관리</span>
                </div>
                <div>
                    <a class="section_a" href="/admin/complain_manage/rep/all">전체보기</a>
                    <a class="section_a" href="/admin/complain_manage/rep/open">공개 댓글</a>
                    <a class="section_a" href="/admin/complain_manage/rep/blind">블라인드 댓글</a>
                    <a class="section_a" href="/admin/complain_manage/rep/complete">완료 댓글</a>
                    <a class="section_a" href="/admin/complain_manage/rep/non_complete">미완료 댓글</a>
                </div>
                <hr>
                <div class="complain_div" th:each="item:${list}">
                    <div class="manage_left">
                        <div class="complain_title">
                            <span>댓글 : </span>
                            <a th:href="@{'/community/'+${item.target}}" th:text="${item.title}"></a>
                            <span><a th:href="@{'/admin/complain/rep/'+${item.cid}}" class="union">&nbsp;&nbsp;&nbsp;모아보기</a></span>
                        </div>
                        <div class="complain_reason" th:text="'사유 : '+${item.reason}"></div>
                        <div class="complain_detail" th:text="'세부 사항 : '+${item.detail}"></div>
                    </div>

                    <div class="manage_right">
                        <div class="complain_user">
                            <span>유저 : </span>
                            <a th:href="@{'/admin/user/'+${item.uid}}" th:text="${item.nickname}"></a>
                        </div>
                        <div class="complain_status">
                            <span>상태 : </span>
                            <th:block th:if="${item.blind}">
                                <span>블라인드</span>
                            </th:block>
                            <th:block th:unless="${item.blind}">
                                <span>공개</span>
                            </th:block>
                        </div>
                        <div class="manage_button_div">
                            <th:block th:if="${item.blind}">
                                <a th:href="@{'/rep/blind/cancel/'+${item.cid}}" class="b_cancel_a">블라인드 해제</a>
                            </th:block>
                            <th:block th:unless="${item.blind}">
                                <a th:href="@{'/rep/blind/do/'+${item.cid}}" class="blind_a">블라인드 처리</a>
                            </th:block>
                        </div>
                        <div class="manage_button_div">
                            <th:block th:if="${item.complete}">
                                <span class="completed">완료된 신고</span>
                            </th:block>
                            <th:block th:unless="${item.complete}">
                                <a th:href="@{'/rep/complain/complete/'+${item.cid}}" class="complete_a">완료하기</a>
                            </th:block>
                        </div>
                    </div>
                </div>


                <th:block th:if="${startPage != null}">
                    <div class="page">

                        <!-- 이전 버튼 -->
                        <th:block th:class="before" th:if="${startPage>1}">
                            <a th:href="@{'/admin/complain_manage/rep/'+${type}(page=${startPage}-1)}"
                               th:text="이전"></a>
                        </th:block>


                        <!-- 페이지 블록 -->
                        <th:block th:class="page_block" th:each="index:${#numbers.sequence(startPage, endPage)}">
                            <span th:if="${index==thisPage}" th:text="${index}"></span>
                            <span th:if="${index!=thisPage}">
                        <a th:href="@{'/admin/complain_manage/rep/'+${type}(page=${index})}"><span th:text="${index}"/></a>
                    </span>
                        </th:block>

                        <!-- 다음 버튼 -->
                        <th:block th:class="next" th:if="${endPage < totalPage}">
                            <a th:href="@{'/admin/complain_manage/rep/'+${type}(page=${endPage+1})}" th:text="다음"></a>
                        </th:block>

                    </div>
                </th:block>

            </section>
        </div>

    </div>
</th:block>
</body>
</html>