<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">
        <link rel="icon" th:href="@{/images/title.png}">
        <title>칠 린 | 마이페이지</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/mypage/mypage_bookmark.css}">
        <link rel="stylesheet" th:href="@{/css/board/community_list.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

    <th:block layout:fragment="content">
        <div class="content">
            <!-- -----------------------------------------------  -->
            <div class="bookmark_wrap">

                <aside>
                    <h2>내 계정</h2>
                    <ul>
                        <li><a th:href="@{|/mypage/${userId}|}">
                            <img th:src="@{/images/user.png}"/>
                            <span>회원정보</span>
                        </a></li>
                        <li><a th:href="@{|/mypage/board/${userId}|}">
                            <img th:src="@{/images/writing.png}"/>
                            <span>내가 쓴 글</span>
                        </a></li>
                        <li><a th:href="@{|/mypage/bookmark/${userId}|}">
                            <img th:src="@{/images/myBookmark_click.png}"/>
                            <span id="mypage_select">북마크</span>
                        </a></li>

                        <li><a th:href="@{|/mypage/message/${userId}|}">
                            <img th:src="@{/images/message.png}"/>
                            <span>쪽지</span>
                        </a></li>
                    </ul>
                </aside>

                <div id="user_line"></div>


                <section>

                    <h3>북마크</h3>

                    <div class="recent_list">
                        <table class="recent_table">
                            <thead>
                            <tr>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item:${list}">
                                <td>
                                    <div class="recent_title">
                                        <a th:href="@{'/community/'+${item.bid}}">
                                            <span th:text="${item.title}"></span>
                                        </a>
<!--                                        <span>-->
<!--                                    <img th:src="@{/images/boomup.png}">-->
<!--                                    <span th:text="${item.boomup}"></span>-->
<!--                                </span>-->
                                    </div>
                                </td>
                                <td class="td_center" th:text="${item.nickname}"></td>
                                <td class="td_center" th:text="${#temporals.format(item.writeDate,'yy.MM.dd')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </th:block>
</body>
</html>