<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">

        <title>Chillin</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/mypage/mypage_message_detail.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">
        <!-- -------------------------------------------- -->
        <div class="message_detail_wrap">

            <aside>
                <h2>내 계정</h2>
                <ul>
                    <li><a th:href="@{|/mypage/${userId}|}">
                        <img th:src="@{/images/user.png}"/>
                        <span>회원정보</span>
                    </a></li>
                    <li><a th:href="@{|/mypage/bookmark/${userId}|}">
                        <img th:src="@{/images/bookmark.png}"/>
                        <span>북마크</span>
                    </a></li>
                    <li><a th:href="@{|/mypage/message/${userId}|}">
                        <img th:src="@{/images/message_click.png}"/>
                        <span id="mypage_select">쪽지</span>
                    </a></li>
                </ul>
            </aside>

            <div id="user_line"></div>

            <section>
                <h3>쪽지</h3>

                <form method="post" th:action="@{/write_message}">
                    <input type="hidden" name="sender" th:value="${userId}">
                    <input type="hidden" name="receiver" th:value="${messageId}">
                    <input type="hidden" name="is_read" th:value="0">
                    <ul>
                        <li><textarea id="content" name="content" placeholder="내용을 입력하세요"></textarea></li>
                        <li><button type="submit">보내기</button></li>
                    </ul>
                </form>

                <table>
                    <tbody>
                    <tr th:each="item:${list}">
                        <td th:text="${item.senderNickName}"></td>
                        <td th:text="${item.getContent()}"></td>
                        <td th:text="${#temporals.format(item.time,'yy-MM-dd HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </section>

        </div>
    </div>
</th:block>
</body>
</html>