<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">
        <link rel="icon" th:href="@{/images/title.png}">
        <title>칠 린 | 마이페이지</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/mypage/mypage_message.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

    <th:block layout:fragment="content">
        <div class="content">
            <!-- ------------------------------------------------------  -->
            <div class="message_wrap">

                <aside>
                    <h2>내 계정</h2>
                    <ul>
                        <li><a th:href="@{|/mypage/${userId}|}">
                            <img th:src="@{/images/user.png}"/>
                            <span>회원정보</span>
                        </a></li>
                        <li><a th:href="@{|/mypage/board/${userId}|}">
                            <img th:src="@{/images/writing.png}"/>
                            <span>내가 쓴 글</span>
                        </a></li>
                        <li><a th:href="@{|/mypage/bookmark/${userId}|}">
                            <img th:src="@{/images/myBookmark.png}"/>
                            <span>북마크</span>
                        </a></li>
                        <li><a th:href="@{|/mypage/message/${userId}|}">
                            <img th:src="@{/images/message_click.png}"/>
                            <span id="mypage_select">쪽지</span>
                            <div th:if="${checkRead == false}" id="checkRead"></div>
                        </a></li>
                    </ul>
                </aside>

                <div id="user_line"></div>



                <section>
                    <h3>쪽지</h3>

                    <table class="message_table">
                        <tbody>
                        <tr th:each="item:${list}">
                            <td class="unread"  th:if="${item.check.equals(false) && item.is_read.equals(false)}"></td>
                            <td class="read"  th:unless="${item.check.equals(false) && item.is_read.equals(false)}"></td>
                            <td class="td_center message_col1" th:text="${item.check ? item.receiverNickName : item.senderNickName}"></td>
                            <td  class="message_col2"><a th:href="@{|/mypage/messagedetail/${userId}/${item.check ? item.receiver : item.sender}|}">
                                <div th:text="${item.getContent()}"></div></a></td>
                            <td class="message_col3" th:text="${#temporals.format(item.time,'yy-MM-dd HH:mm')}"></td>
                        </tr>
                        </tbody>
                    </table>


                </section>

            </div>
        </div>
    </th:block>
</body>
</html>