<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">
        <link rel="icon" th:href="@{/images/title.png}">
        <title>칠 린 | 마이페이지</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/mypage/mypage_modify.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <script th:src="@{/js/mypage/mypage_modify.js}"></script>

        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', function () {

                let inits = {
                    dto_id: [[${dto.getId()}]]
                    , dto_nickName: [[${dto.getNickName()}]]
                    , dto_userid: [[${dto.getUserId()}]]
                }

                init(inits);
            });
        </script>


    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">

        <!-------------------------------------------------------------------->

        <div id="user_modi_wrap">


            <aside>
                <h2>내 계정</h2>
                <ul>
                    <li><a th:href="@{|/mypage/${dto.getUserId()}|}">
                        <img th:src="@{/images/user_click.png}"/>
                        <span id="mypage_select">회원정보</span>
                    </a></li>
                    <li><a th:href="@{|/mypage/board/${userId}|}">
                        <img th:src="@{/images/writing.png}"/>
                        <span>내가 쓴 글</span>
                    </a></li>
                    <li><a th:href="@{|/mypage/bookmark/${dto.getUserId()}|}">
                        <img th:src="@{/images/myBookmark.png}"/>
                        <span>북마크</span>
                    </a></li>
                    <li><a th:href="@{|/mypage/message/${dto.getUserId()}|}">
                        <img th:src="@{/images/message.png}"/><span>쪽지</span>
                    </a></li>
                </ul>
            </aside>

            <div id="user_line"></div>


            <section>

                <h3>회원정보</h3>

                <form th:method="post" th:action="@{/user_modi}" th:object="${dto}">

                    <ul>
                        <input type="hidden" th:field="*{userId}">

                        <li class="form_label"><label for="id">아이디(이메일)</label></li>
                        <li>
                            <input type="text" th:field="*{id}" name="id" id="id"
                                   th:value="*{id}" class="form_input">
                            <input type="button" id="btn_chek_id" value="중복확인" class="chek_button">
                        </li>
                        <li th:if="${#fields.hasErrors('id')}" th:errors="*{id}">id</li>
                        <li id="id_check"></li>


                        <li class="form_label"><label for="password">비밀번호</label></li>
                        <li>
                            <input type="password" th:field="*{password}" name="password" id="password"
                                   placeholder="4자이상 10자 이하로 입력해주세요." class="form_input">
                        </li>
                        <li th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password</li>

                        <li class="form_label"><label for="chek_pw">비밀번호 확인</label></li>
                        <li>
                            <input type="password" name="chek_pw" id="chek_pw"
                                   placeholder="비밀 번호를 한번 더 입력해주세요." class="form_input">
                        </li>
                        <li id="password_check"></li>


                        <li class="form_label"><label for="nickName">닉네임</label></li>
                        <li>
                            <input type="text" th:field="*{nickName}" name="nickName" id="nickName"
                                   th:value="*{nickName}" class="form_input">
                            <input type="button" id="btn_chek_nick" value="중복확인" class="chek_button">
                        </li>
                        <li th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}">nickName</li>
                        <li id="nick_check"></li>


                        <li class="form_label"><label for="name">이름</label></li>
                        <li>
                            <input type="text" th:field="*{name}" name="name" id="name"
                                   th:value="*{nickName}" class="form_input">
                        </li>
                        <li th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name</li>

                        <li id="form_bottom">
                            <button type="button" id="deleteuser_btn">회원 탈퇴 하기</button>
                            <div id="buttons">
                                <button type="submit" id="btn_modi">수정</button>
                                <button type="reset" id="reset">초기화</button>
                            </div>
                        </li>
                    </ul>

                </form>
            </section>
        </div>
        <!-------------------------------------------------------------------->

    </div>
</th:block>
</body>
</html>