<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">

        <title>Chillin</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/main/index.css}">
        <link rel="stylesheet" th:href="@{/css/board/detail.css}">
        <link rel="stylesheet" th:href="@{/css/board/reps.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">
        <div id="detail_wrap">

            <div id="title_and_some">
                <div id="title_div" th:text="${board.title}"></div>

                <div id="some_div">
                    <div th:class="board_some" th:id="board_complain">
                        <button type="button" id="board_complain_button">
                            <ul>
                                <li class="some_img_li"><img th:src="@{/images/siren.png}"></li>
                                <li>신고</li>
                            </ul>
                        </button>
                    </div>
                    <div th:class="board_some" th:id="board_bookmark">
                        <button type="button" id="board_bookmark_button">
                            <ul>
                                <li class="some_img_li"><img th:src="@{/images/bookmark.png}"></li>
                                <li>북마크</li>
                            </ul>
                        </button>
                    </div>
                    <div th:class="board_some" th:id="board_boomup">
                        <button type="button" id="board_boomup_button">
                            <ul>
                                <li class="some_img_li"><!--<img th:src="@{/images/boomup.png}">--></li>
                                <li id="board_boomup_number">붐업</li>
                                <!--<li th:text="${}"></li>-->
                            </ul>
                        </button>
                    </div>
                    <div th:class="board_some" th:id="board_boomdown">
                        <button type="button" id="board_boomdown_button">
                            <ul>
                                <li class="some_img_li"><!--<img th:src="@{/images/boomdown.png}">--></li>
                                <li id="board_boomdown_number">붐따</li>
                            </ul>
                        </button>
                    </div>
                </div>
            </div>

            <div id="writer_div" th:text="'작성자 : '+${board.nickname}"></div>
            <div id="write_date_div"
                 th:text="'작성일 : '+${#temporals.format(board.writeDate,'yyyy-MM-dd HH:mm:ss')}"></div>
            <div id="content_div" th:utext="${board.content}"></div>


            <div id="clear_right"></div>

            <div id="remove_modify">
                <button id="remove_button">삭제</button>
                <button id="modify_button">수정</button>
            </div>

            <div id="reps_div">
                <div id="rep_count"><!-- n개의 댓글 --></div>

                <textarea id="rep_area" placeholder="댓글을 입력하세요"></textarea>

                <div id="rep_button_div">
                    <button type="button" id="rep_create">댓글 작성</button>
                </div>

                <div id="rep_list">

                </div>
            </div>

        </div>
        <div id="complain_modal">
            <form th:action="@{/board/complain}" method="post">
                <label for="reason">이유</label>
                <select name="reason" id="reason">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </select>
<!--

                <label for="detail">세부 사항</label>
-->

            </form>
        </div>

        <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
        <script th:src="@{/js/community/remove_modify.js}"></script>
        <script>
            setBoardId([[${board.bid}]])
        </script>
        <script th:src="@{/js/community/community_reps.js}"></script>
        <script th:src="@{/js/community/reps_boom.js}"></script>
        <script th:src="@{/js/community/some_button.js}"></script>
    </div>
</th:block>
</body>
</html>