<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">
        <link rel="icon" th:href="@{/images/title.png}">
        <title>칠 린 | 커뮤니티</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css --><!--
        <link rel="stylesheet" th:href="@{/css/main/index.css}">-->
        <link rel="stylesheet" th:href="@{/css/board/detail.css}">
        <link rel="stylesheet" th:href="@{/css/board/reps.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">
        <div id="detail_wrap">
            <div id="title_and_some">
                <div id="title_div" th:text="${board.title}"></div>

                <div id="some_div">
                    <div th:class="board_some" th:id="board_complain">
                        <button type="button" id="board_complain_button">
                            <ul>
                                <li class="some_img_li"><img th:src="@{/images/siren.png}"></li>
                                <li>신고</li>
                            </ul>
                        </button>
                    </div>
                    <div th:class="board_some" th:id="board_bookmark">
                        <button type="button" id="board_bookmark_button">
                            <ul>
                                <li class="some_img_li"><img th:src="@{/images/bookmark.png}"></li>
                                <li>북마크</li>
                            </ul>
                        </button>
                    </div>
                    <div th:class="board_some" th:id="board_boomup">
                        <button type="button" id="board_boomup_button">
                            <ul>
                                <li class="some_img_li"><!--<img th:src="@{/images/boomup.png}">--></li>
                                <li id="board_boomup_number">붐업</li>
                                <!--<li th:text="${}"></li>-->
                            </ul>
                        </button>
                    </div>
                    <div th:class="board_some" th:id="board_boomdown">
                        <button type="button" id="board_boomdown_button">
                            <ul>
                                <li class="some_img_li"><!--<img th:src="@{/images/boomdown.png}">--></li>
                                <li id="board_boomdown_number">붐따</li>
                            </ul>
                        </button>
                    </div>
                </div>
            </div>

            <div id="writer_div">
                <button type="button" id="writer_button" th:text="'작성자 : '+${board.nickname}"
                        th:onclick="writer_user_see([[${board.uid}]],[[${board.nickname}]])"></button>
                <div id="writer_click_position"></div>
            </div>
            <div id="write_date_div"
                 th:text="'작성일 : '+${#temporals.format(board.writeDate,'yyyy-MM-dd HH:mm:ss')}"></div>

            <th:block th:if="${board.blind}">
                <div class="blind_text">※블라인드 처리된 게시물입니다.※</div>
            </th:block>
            <th:block th:unless="${board.blind}">
                <div id="content_div" th:utext="${board.content}"></div>
            </th:block>

            <div id="clear_right"></div>

            <div id="remove_modify">
                <button id="remove_button">삭제</button>
                <button id="modify_button">수정</button>
            </div>

            <div id="reps_div">
                <div id="rep_count"><!-- n개의 댓글 --></div>

                <textarea id="rep_area" placeholder="댓글을 입력하세요"></textarea>

                <div id="rep_button_div">
                    <button type="button" id="rep_create">댓글 작성</button>
                </div>

                <div id="rep_list">

                </div>
            </div>

        </div>
        <div id="hidden_div" class="hidden_modal">
            <div id="modalContainer">
                <div id="complain_modal">
                    <form method="post" id="complain_form">
                        <h2>신고</h2>
                        <label for="bc_reason">신고 이유를 선택해주세요</label>
                        <br>
                        <select name="reason" id="bc_reason" required>
                            <option value="성적인 게시물">성적인 게시물</option>
                            <option value="혐오스러운 게시물">혐오스러운 게시물</option>
                            <option value="괴롭힘 또는 폭력">괴롭힘 또는 폭력</option>
                            <option value="잘못된 정보">잘못된 정보</option>
                            <option value="아동 학대">아동 학대</option>
                            <option value="스팸 게시물">스팸 게시물</option>
                            <option value="무리한 요구">무리한 요구</option>
                        </select>
                        <br><br>
                        <label for="bcdetail">세부 내용</label>
                        <br>
                        <textarea id="bcdetail" name="detail" placeholder="세부적인 신고 사항을 기입해주세요"></textarea>

                        <input type="hidden" id="complain_id">

                        <input type="hidden" name="return_board" th:value="${board.bid}">

                        <button type="submit" id="bc_complain_submit">전송</button>
                        <button type="button" id="bc_complain_reset">
                            <img th:src="@{/images/cancel_cross.png}" alt="취소">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!--

                <div id="user_click_div" class="hidden_click_div">
                    <div id="user_click_name"></div>
                    <hr>
                    <div class="user_click_some"><a id="user_click_message">쪽지 보내기</a></div>
                    <div class="user_click_some"><a id="user_click_board">작성 글 검색</a></div>
                    <button type="button" id="user_click_hide">숨기기</button>
                </div>
        -->

        <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
        <script th:src="@{/js/community/remove_modify.js}"></script>
        <th:block th:if="${session.uid!=null}">
            <script>login([[${session.uid}]])</script>
        </th:block>
        <script>
            setBoardId([[${board.bid}]])
        </script>
        <script th:src="@{/js/community/community_reps.js}"></script>
        <script th:src="@{/js/community/reps_boom.js}"></script>
        <script th:src="@{/js/community/some_button.js}"></script>
    </div>
</th:block>
</body>
</html>