<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">
        <link rel="icon" th:href="@{/images/title.png}">
        <title>칠 린 | 공지사항</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/notice/notice_list.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">

        <div class="wrap">
            <div th:class="search">
                <form action="/notice" method="get">
                    <!--                    <img th:src="@{/images/find.png}" alt="돋보기">-->
                    <input type="text" name="searchTxt" placeholder="관심 있는 내용을 검색해보세요!">
                </form>
            </div>

            <div class="title_box">
                <h3>공지사항</h3>
            </div>
            <table>
                <thead>
                <tr class="title">
                    <th>제목</th>
                    <th class="th_2">작성일</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:class="block-list" th:if="!${list.isEmpty()}">
                    <tr th:each="item:${list}">
                        <td>
                            <a th:href="@{'/notice/'+${item.noticeId}}">
                                <th:block th:text="${item.title}"></th:block>
                            </a>
                        </td>
                        <td th:text="${#temporals.format(item.writeDate, 'yyyy-MM-dd HH:mm')}" class="td_center"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <div class="page">
                <!-- 이전 버튼 -->
                <th:block th:class="before" th:if="${startPage>1}">
                    <a th:href="@{/notice(page=${startPage}-1, searchTxt=${searchtxt})}" th:text="이전"></a>
                </th:block>

                <!-- 페이지 블록 -->
                <th:block th:class="page_block" th:each="index:${#numbers.sequence(startPage, endPage)}">
                    <span th:if="${index==list.pageable.getPageNumber()+1}" th:text="${index}"></span>
                    <span th:if="${index!=list.pageable.getPageNumber()+1}">
        <a th:href="@{/notice(page=${index},searchTxt=${searchtxt})}"><span th:text="${index}"/></a>
    </span>
                </th:block>

                <!-- 다음 버튼 -->
                <th:block th:class="next" th:if="${endPage < list.totalPages}">
                    <a th:href="@{/notice(page=${endPage}+1, searchTxt=${searchtxt})}" th:text="다음"></a>
                </th:block>
            </div>


            <div id="create_notice" th:if="${session.uid == 7}">
                <a th:href="@{/notice/create}" th:text="글쓰기"></a>
            </div>


        </div>
    </div>
</th:block>
</body>
</html>