<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">

        <title>Chillin</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/user/login.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">

        <!-------------------------------------------------->

        <div id="login_wrap">

        <img th:src="@{/images/logo.png}" id="login_logo"/>
        <h1 id="login_h1">칠린에 오신것을 환영합니다</h1>

        <h3 id="login_h3">칠린 아이디로 로그인</h3>

        <form th:method="post" th:action="@{/login_result}">
            <ul>
                <li class="form_label"><label for="id">아이디</label></li>
                <li>
                    <input type="text" name="id" id="id" class ="form_input"
                           placeholder="이메일 형식으로 입력해주세요." required>
                </li>


                <li class="form_label"><label for="password">비밀번호</label></li>
                <li>
                    <input type="password" name="password" id="password" class = "form_input"
                           placeholder="4자이상 10자 이하로 입력해주세요." required>
                </li>


                <li id="login_button">
                    <button type="submit">로그인</button>
                </li>

                <div>
                    아직 회원이 아니신가요? <a th:href="@{/join}" id="link_join">회원가입</a>
                </div>

            </ul>
        </form>

        </div>


        <!-------------------------------------------------->

    </div>
</th:block>
</body>
</html>