

#complain_section{
    width: 64%;
}

.complain_div{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999999;
    border-radius: 12px;
    margin-bottom: 24px;
    display: flex;
    padding: 6px 0 6px 8px;
}

.manage_left{
    flex: 1;
    display: inline-block;
}

.manage_left>div{
    margin-bottom: 4px;
}

.manage_right{
    flex: 0;
    display: inline-block;
    width: 120px;
    min-width: 120px;
    text-align: center;
}

.union{
    font-size: 12px;
    color: #45A5E2;
    font-weight: 200;
}

.complain_user{
    font-size: 14px;
}

.section_a{
    font-size: 14px;
    margin-right: 12px;
    color: #45A5E2;
}

.manage_button_div a,.manage_button_div span{
display: inline-block;
    padding-top: 2px ;
    width: 96px;
    height: 20px;
    margin-bottom: 4px;
}

.b_cancel_a , .completed{
    border: 1px solid #e9e9e9;
    background-color: #e9e9e9;
    border-radius: 6px;
    color: #555555;
}
.blind_a{
    border: 1px solid #e9e9e9;
    background-color: #EFCEEA;
    border-radius: 6px;
    color: #000000;
    box-shadow: 0 0 8px 2px inset #e9e9e9;
}

.complete_a{
    border: 1px solid #e9e9e9;
    background-color: rgba(69,165,226,0.6);
    border-radius: 6px;
    color: #000000;
    box-shadow: 0 0 8px 2px inset #e9e9e9;
}

#comp_board_rep > a{
    color: #999999;
}
#comp_board_rep > span{
    color: #333333;
    font-size: 18px;
}

