<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div class="header" th:fragment="header">
    <div class="header_wrap">
    <link rel="stylesheet" th:href="@{/css/main/header.css}">

        <div class="top_logo">
            <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="logo"></a>
        </div>

        <nav>
            <ul class="top_nav">
                <li><a th:href="@{/}">커뮤니티</a></li>
                <li><a th:href="@{/info}">정보</a></li>
                <li><a th:href="@{/}">공지사항</a></li>
            </ul>
        </nav>

        <div class="top_btn">
            <ul class="top_btn_1">
                <!-- 세션에 값이 없으면 -->
                <th:block th:if="${session.uid == null}">
                    <li>
                        <a th:href="@{/login}">로그인</a>
                    </li>
                    <li>
                        <a th:href="@{/join}">회원가입</a>
                    </li>
                </th:block>
                <!-- 세션에 값이 있으면 -->
                <th:block th:unless="${session.uid == null}">
                    <li>
                        <a th:href="@{/logout}">로그아웃</a>
                    </li>
                    <li>
                        <a th:href="|/mypage/${session.uid}|">마이페이지</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
<!--        <div class="top_line"></div>-->

</div>

</html>