#user_modi_wrap{
    width: 74%;
    margin: 0 auto;
    display: flex;
}

aside{
    margin: 0 40px 0 0;
    width: 160px;
}
aside h2 {
    font-size: 14px;
    color: #4F4E4E;
}

aside ul{
    padding:0;
}

aside ul li a{
    display: flex;
    align-items: center;
    margin: 10px;
}

aside img{
    width: 24px;
}

aside ul li span{
    padding: 0 8px;
}

#mypage_select{
    color: #45A5E2;
}

#user_line{
    min-height: 90vh;
    border-left: 1px solid #45A5E2;

}

section{
    padding: 0 40px;
    width: 52%;
}

/*---------------마이페이지 공통사항-----------------------------*/

section ul{
    padding: 0;
}

form{
    margin-left: 10%;
}

.form_label{
    margin: 36px 0 8px 0;
}

.form_input {
    width: 72%;
    height: 28px;
    border: 1px solid #45A5E2;
    border-radius: 6px;
}

.chek_button{
    width: 82px;
    height: 32px;
    background-color: #45A5E2;
    border: none;
    border-radius: 5px;
    color: white;
}

#form_bottom{
    margin: 36px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#form_bottom button{
    width: 82px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: #4F4E4E;
    font-size: 0.9rem;
}

#form_bottom #btn_modi{
    background-color: #EFCEEA;
}

#form_bottom a {
    font-size: 0.8rem;
    color: #4F4E4E;
    border-bottom: 1px solid #4F4E4E;

}