<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">

        <title>Chillin</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/main/index.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">
        <!-- 각 페이지의 content 작성-->
        <div class="wrap">
            <div class="container">
                <aside class="sidebar">
                    <div class="banner">
                        <h2>배너</h2>
                        <p>~~배너~~</p>
                    </div>
                </aside>
                <main class="main_content">
                    <div class="block">
                        <div class="block_title">
                            <h2>커뮤니티</h2>
                        </div>
                        <div class="block_content">
                            <ul>
                                <li>게시글 1</li>
                                <li>게시글 2</li>
                                <li>게시글 3</li>
                                <li>게시글 4</li>
                                <li>게시글 5</li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block_title">
                            <h2>오늘의 인기글</h2>
                        </div>
                        <div class="block_content">
                            <ul>
                                <li>게시글 1</li>
                                <li>게시글 2</li>
                                <li>게시글 3</li>
                                <li>게시글 4</li>
                                <li>게시글 5</li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block_title">
                            <a th:href="@{/info}">
                                <h2>정보</h2>
                            </a>
                        </div>
                        <div class="block_content">
                            <ul>
                                <li>게시글 1</li>
                                <li>게시글 2</li>
                                <li>게시글 3</li>
                                <li>게시글 4</li>
                                <li>게시글 5</li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block_title">
                            <h2>공지사항</h2>
                        </div>
                        <div class="block_content">
                            <ul>
                                <li>게시글 1</li>
                                <li>게시글 2</li>
                                <li>게시글 3</li>
                                <li>게시글 4</li>
                                <li>게시글 5</li>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>