<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/BaseLayout}">
<head>
    <meta charset="UTF-8">

    <th:block layout:fragment="title">
        <link rel="icon" th:href="@{/images/title.png}">
        <title>칠 린</title>
    </th:block>

    <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" th:href="@{/css/main/index.css}">
    </th:block>

    <th:block layout:fragment="javascript">
        <!-- 각 페이지의 javascript -->
    </th:block>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content">
        <!-- 각 페이지의 content 작성-->
        <div class="wrap">
            <div class="container">
                <aside class="sidebar">
                    <img th:src="@{/images/banner_2.png}" alt="배너">
                </aside>
                <main class="main_content">

                    <div class="block">
                        <div class="block_title">
                            <a th:href="@{/community}">
                                <h2>커뮤니티</h2>
                            </a>
                        </div>
                        <div class="block_content" th:if="!${boardList.isEmpty()}">
                            <ul th:each="item:${boardList}">
                                <a th:href="@{'/community/'+${item.bid}}">
                                    <li>
                                        <th:block th:text="${item.nickname}"></th:block>
                                        <th:block th:text="${item.timeAgo}"></th:block>
                                        <span>
                                    <!--<img th:src="@{/images/boomup.png}">-->
                                    <th:block th:text="${item.boomup}+'붐업'"></th:block>
                                    </span></br>

                                        <th:block th:text="${item.title}"></th:block>

                                    </li>
                                </a>

                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block_title">
                            <h2>오늘의 인기글</h2>
                        </div>
                        <div class="block_content" th:if="!${dayFavList.isEmpty()}">
                            <ul th:each="item:${dayFavList}">
                                <a th:href="@{'/community/'+${item.bid}}">
                                    <li>
                                        <th:block th:text="${item.nickname}"></th:block>
                                        <th:block th:text="${item.timeAgo}"></th:block>
                                        <span>
                                    <!--<img th:src="@{/images/boomup.png}">-->
                                    <th:block th:text="${item.boomup}+'붐업'"></th:block>
                                    </span></br>
                                        <th:block th:text="${item.title}"></th:block>
                                    </li>
                                </a>

                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block_title">
                            <a th:href="@{/info}">
                                <h2>정보</h2>
                            </a>
                        </div>
                        <div class="block_content" th:if="!${newsList.isEmpty()}">
                            <ul th:each="item:${newsList}">
                                <li>
                                    <a th:href="${item.link}">
                                        <th:block th:text="${item.title}"></th:block>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block_title">
                            <a th:href="@{/notice}">
                            <h2>공지사항</h2>
                            </a>
                        </div>
                        <div class="block_content" th:if="!${noticeList.isEmpty()}">
                            <ul th:each="item:${noticeList}">
                                <li>
                                    <a th:href="@{|/notice/${item.noticeId}|}">
                                        <th:block th:text="${item.title}"></th:block>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <!--    </div>-->
</th:block>
</body>
</html>