.footer {
    font-size: 0.9rem;
    background-color: #fdf9f9;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.footer ul {
    margin: 15px;
}

.footer ul li {
    display: inline-block;
    margin-right: 16px;
}

.footer p {
    padding: 0px 53px;;
}

.footer_wrap{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 79%;
}