@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'TTLaundryGothicB', 'sans-serif';
    color: #494848;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
}

/*.header .header_wrap{
    width: 100%;
    background-color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
}*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #C8C8C8;
}

.header .header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
}

#editor{
    height: 300px;
}

.header ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
}

.top_logo img {
    width: 76%;
}

nav .top_nav a{
   padding-right: 4.2rem;
}

.top_btn li {
    padding: 1.1rem;
}

.header .top_line {
    border-bottom: 1px solid black;
}