.wrap {
    width: 74%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 20%;
    margin-right: 1.5vw;
}

.sidebar img {
    background-color: #ffffff;
    padding-top: 26px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    object-fit: contain;
    /*border: 1px solid silver;*/
}

.main_wrap{
    width: 100%;
}

.main_content {
    width: 78%;
    padding: 16px 0 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 21px;
    margin-bottom: 40px;
}

.block {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.block_title {
    background-color: #EDE6E6;
    color: #fff;
    padding: 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
}

.block_title h2 {
    margin: 0;
    font-size: 16px;
}

.block_content {
    padding: 20px;
}

.block_content ul {
    list-style-type: none;
    padding: 0;
}

.block_content li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.block_content li:last-child {
    /*border-bottom: none;*/
}

input{
    /*width: 100%;*/
    width: 31rem;
    padding: 14px 31px;
    border-radius: 50px;
    margin: 23px 0 33px 0;
    font-size: 13px;
}

form {
    display: flex;
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-content {
    text-align: right;
}

.boomup-icon {
    width: 20px; /* 이미지 크기 조절 */
    height: 20px;
    vertical-align: middle;
}

.left-content > span {
    color: #999999;
    padding-left: 6px;
}

.left-content {
    margin-bottom: 8px;
    color: #6363a3;
}