



#community_list_wrap{
    width: 74%;
    margin: 0 auto;
}

.search_div{
    width: 100%;
    padding-top: 64px;
    margin-bottom: 64px;
    position: relative;
}
.search_div form{
    width: 60%;
    min-width: 500px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.search_div input{
    width: 100%;
    text-align: center;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #2D3A4A;
    font-size: 18px;
}
.search_div button{
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 6px;
    left: 8px;
    border: 0;
}
.search_div button img{
    width: 24px;
    object-fit: contain;
}


#day_week{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.day_week_list{
    box-sizing: border-box;
    width: 49%;
    border: 1px solid #555555;
    border-radius: 14px;
    box-shadow: 0 4px 4px 4px rgba(217,255,254,0.25);
}

.day_week_list h3{
    margin-left: 32px;
    margin-bottom: 12px;
}

hr{
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
}
.day_week_list ol{
    padding-left: 32px;
    margin-top: 10px;
}
.day_week_list li{
    padding: 6px 16px 6px 0;
    display: flex;
    justify-content: space-between;
}
.day_week_list li a{
    flex-grow: 1;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.li_boom_zone{
    flex-grow: 0;
    width: 40px;
}
.li_boom_zone img{
    width: 18px;
    object-fit: contain;
}
.li_boom_zone span{
    font-size: 14px;
    position: relative;
    top:-4px
}

.recent_table{
    margin-top: 24px;
    padding: 12px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 36px;
}

.recent_title img{
    margin-left: 16px;
    width: 18px;
    object-fit: contain;
    position: relative;
    top:4px
}

.td_center{
    text-align: center;
}

thead tr{
    font-size: 18px;
}
thead th{
    padding: 12px 0;
    border-top : 1px solid #333333;
    border-bottom : 1px solid #b3b3b3;
}
tr td{
    border-bottom:1px solid #b3b3b3 ;
}
td a span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
tbody tr td{
    padding: 8px;
}